.banner-about {
    margin-bottom: 11rem;
    position: relative;

    &::before {
        content: "";
        width: 45.8rem;
        height: 45.8rem;
        border-radius: 50%;
        background: #FFFFFF;
        opacity: 0.2;
        filter: blur(20rem);

        position: absolute;
        bottom: -20rem;
        left: 0;
        transform: translateX(-50%);
    }


    &__inner {
        position: relative;
        padding-top: 13.5rem;

    }

    &__substrate {
        position: absolute;
        width: 93.5rem;
        height: 71.4rem;
        object-fit: contain;
        z-index: -1;
        opacity: 0.04;

        top: 0;
        left: 50%;
        transform: translateX(-50%);

    }

    &__img-arrow {
        width: 1rem;
        height: 9rem;
        margin: 0 auto;

    }


    &__text-block {
        width: 65rem;
        margin: 0 auto 6.2rem auto;
    }

    &__title {
        @include text (5.2rem, 800, #FFFFFF);
        margin-bottom: 5rem;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
    }

    &__subtitle {
        @include text (1.7rem, 400, #808080);
        text-align: center;
    }
}



.about {
    margin-bottom: 22rem;
    
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 6rem;
        row-gap: 14.5rem;
    }
    
    &__box {
        width: 36rem;
        display: flex;
        flex-direction: column;

        &:nth-child(1) {
            .about__box-img {
                width: 18rem;
            }
        }

        &:nth-child(2) {
            .about__box-img {
                width: 18rem;
            }
        }

        &:nth-child(3) {
            .about__box-img {
                width: 19rem;
            }
        }

        &:nth-child(5) {
            .about__box-img {
                width: 16rem;
            }
        }

    }
    
    &__box-img {
        width: 20rem;
        height: 20rem;
        margin-bottom: 4rem;
    }
    
    &__box-title {
        @include text (5.2rem, 800, #FFFFFF);
        margin-bottom: 2rem;
        text-transform: uppercase;
    }
    
    &__subtitle {
        @include text (1.7rem, 400, #808080);
        margin-top: auto;
        line-height: 1.35;
    }
}



.article.page-about {
    background: inherit;

    .article {

        &::before {
            content: none;
        }

        &__title {
            margin-bottom: 6.5rem;
        }

        &__inner {
            align-items: center;
        }

        &__sticker {
            box-shadow: 1.5rem 2rem 4.4rem rgba(0, 0, 0, 0.15);
        }

        &__text {
            width: 81%;
            font-size: 1.7rem; 
        }

        &__quotes:nth-child(2) {
            bottom: -2.5rem;
            right: 1.5rem;
        }

        &__content {
            padding: 9rem 2rem 7.5rem 9.8rem;
        }


        &__photo {
            width: 44.9rem;
            height: 24.4rem;
            margin-left: 6rem;
        }
    }
}




.partners-line {
    margin-bottom: 24.5rem;
    
    &__slider {
        margin-bottom: 4.5rem;
    
    }
    
    &__slider-wrapper {
    
    }
    
    &__slide {
        width: 23.2rem;
        height: 8rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__control {
        margin: 0 auto;
    }
}



.partners {
    margin-bottom: 22rem;
    position: relative;

    &::before {
        content: "";
        width: 45.8rem;
        height: 45.8rem;
        border-radius: 50%;
        background: #FFFFFF;
        opacity: 0.2;
        filter: blur(20rem);

        position: absolute;
        bottom: -20rem;
        left: 0;
        transform: translateX(-50%);
    }

    &::after {
        content: "";
        width: 25rem;
        height: 45.8rem;
        border-radius: 50% 0 0 50%;
        background: #FFFFFF;
        opacity: 0.2;
        filter: blur(20rem);

        position: absolute;
        top: -70%;
        right: 0;
    }
    
    &__title {
        margin-bottom: 5.2rem;
    }
    
    &__content {
        display: grid;
        grid-template-columns: repeat(5, 29rem);
    }
    
    &__box {
        width: 29rem;
        height: 14.4rem;
        position: relative;
        border: 1px solid #707070;
        background: #323232;
        cursor: pointer;
        transition: 1s;

        &:not(:first-child) {
            margin-left: -0.1rem;
        }

        &:not(:nth-child(-n+5)) {
            margin-top: -0.1rem;
        }

        img {
            width: 11.6rem;
            height: 8.8rem;
            object-fit: contain;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.5s;
        }

        img.color {
            opacity: 0;
        }

        &:hover {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            transform: translateY(-3rem);

            img {

                &.gray {
                    opacity: 0;
                }

                &.color {
                    opacity: 1;
                }
            }
        }
    }
}



.awards {
    background: #ffffff;
    padding-top: 22.2rem;
    padding-bottom: 22.4rem;
    margin-bottom: 21.5rem;

    &__slider {
        position: relative;
    }
    
    &__slide {
        display: flex;
        justify-content: space-between;
    }
    
    &__slide-img {
        width: 25%;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 21.5rem;
            height: 100%;
            object-fit: contain;
        }
    }
    
    &__slide-text-block {
        width: 70%;
        padding-top: 1rem;
    }
    
    &__slide-title {
        @include text (5.2rem, 800, #323232);
        margin-bottom: 4rem;
        text-transform: uppercase;
    }
    
    &__slide-paragraphs {
        display: flex;
        @include text (1.6rem, 400, #808080);
        line-height: 1.5;
    }
    
    &__slide-text-column {


        &:nth-child(1) {
            width: 44.6rem;
        }

        &:nth-child(2) {
            width: 41.3rem;
        }

        &:not(:last-child) {
            margin-right: 7.5rem;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
    
    &__control {
        position: absolute;
        bottom: 1rem;
        left: 30%;
        z-index: 10;
    }
}
