.logo {
    width: 14.8rem;
    height: 8rem;

    img {
        height: 100%;
        object-fit: contain;
    }
}

.control {
    display: flex;
    width: max-content;

   
}

.arrow {
    width: 4rem;
    height: 100%;
    cursor: pointer;
    padding-top: 0.5rem;

    img {
        height: 100%;
        object-fit: contain;
    }
    
}

.pagination {
    @include text (2.2rem, 300, #FFFFFF);
    width: max-content;
    margin: 0 3.2rem;

    .swiper-pagination-current {
        font-weight: 800;
        font-size: 2.2rem;
    }


    &.pagination--black {
        color: #323232;
    }
}



.btn {
    width: 23.2rem;
    height: 6rem;

    @include text (1.8rem, 600, #FFFFFF);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    border: 0.1rem solid rgba(255, 255, 255, 0.29);
    border-radius: 4.9rem;
    position: relative;

    img {
        width: 4rem;
        height: 0.6rem;
        object-fit: contain;

        position: absolute;
        top: 50%;
        right: -2rem;
        transform: translateY(-50%);
        transition: ease 0.8s;
    }

    &:hover {

        img {
            transform: translate(20%, -50%);
        }
    }


    &.btn--black {
        border: 0.1rem solid rgba(36, 35, 35, 0.29);
        color: #323232;
    }
}


.title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    @include text (5.2rem, 800, #FFFFFF);
    text-transform: uppercase;
    width: 50%;

    &.title--black {
        color:  #323232;
    }
}

.subtitle {
    @include text (1.7rem, 800, #FFFFFF);
    text-transform: uppercase;
    width: 30%;
    line-height: 1.47;
    text-align: right;

    &.subtitle--black {
        color:  #323232;
    }
}



@media (max-width: 48em) {

    .title-wrap {
        flex-direction: column;
    }

    .title {
        font-size: 6rem;
        width: 100%;
    }
    
    .subtitle {
        font-size: 3rem;
        width: 100%;
    }

    .btn {
        width: 33.6rem;
        height: 10rem;
    
        font-size: 3.2rem;
        border-radius: 10rem;
        position: relative;
    
        img {
            width: 9rem;
            height: 1.2rem;
            right: -4rem;
        }
    
        &:hover {
    
            img {
                transform: translate(20%, -50%);
            }
        }
    }

    .control {
        align-items: center;
    }

    .arrow {
        width: 9rem;
        padding-top: 0rem;
    }
    
    .pagination {
        font-size: 3.6rem;
        margin: 0 6rem;


        .swiper-pagination-current {
            font-size: 3.6rem;
            margin-right: 0.8rem;
        }
    }


 }
