.our-projects-banner {
    padding-top: 9rem;
    margin-bottom: 8rem;


    &__inner {
        display: flex;
    }

    &__text-block {
        width: 50%;
        padding-right: 4rem;
        margin-right: 8.5rem;
    }

    &__title {
        @include text (11rem, 800, #ffffff);
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 4rem;

    }

    &__subtitle {
        @include text (1.7rem, 400, #808080);
        line-height: 1.3;
        padding-left: 5rem;
        position: relative;

        &::before {
            content: "";
            width: 3.8rem;
            height: 0.1rem;
            background: #ffffff;

            position: absolute;
            top: 1rem;
            left: 0;
        }

    }

    &__photo-block {
        width: 51rem;
        height: 36rem;
        padding-top: 3rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
}



.projects-nav {
    background: #ffffff;
    height: 10.6rem;
    margin-bottom: 7rem;

    display: flex;
    align-items: center;

    position: sticky;
    z-index: 99;
    top: 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        position: relative;

        &:before {
            content: "";
            height: 0.1rem;
            background: #323232;
            width: 0;
            position: absolute;
            bottom: -0.5rem;
            left: 0;
            transition: all ease 0.8s;
        }

        a {
            display: block;
            @include text (1.5rem, 400, #808080);
            text-transform: uppercase;
            position: relative;
            transition: all ease 0.8s;
        }

        &:hover {
            &::before {
                width: 100%;
            }

            a {
                color: #323232;
            }
        }
    }
}

.projects-content {
    margin-bottom: 24rem;
}

.our-projects {
    position: relative;

    &:not(:last-child) {
        padding-bottom: 11rem;
    }

    &:nth-child(2) {
        &::before {
            content: "";
            width: 20rem;
            height: 45.8rem;
            border-radius: 50% 0 0 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(25rem);
    
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &:nth-child(4) {
        &::before {
            content: "";
            width: 45.8rem;
            height: 45.8rem;
            border-radius: 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(20rem);
    
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-50%);
        }
    }


    &:nth-child(5) {
        &::before {
            content: "";
            width: 20rem;
            height: 45.8rem;
            border-radius: 50% 0 0 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(25rem);
    
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &:nth-child(6) {
        &::before {
            content: "";
            width: 45.8rem;
            height: 45.8rem;
            border-radius: 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(20rem);
    
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-50%);
        }
    }

    &:nth-child(7) {
        &::before {
            content: "";
            width: 20rem;
            height: 45.8rem;
            border-radius: 50% 0 0 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(25rem);
    
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &:nth-child(8) {
        &::before {
            content: "";
            width: 45.8rem;
            height: 45.8rem;
            border-radius: 50%;
            background: #FFFFFF;
            opacity: 0.2;
            filter: blur(20rem);
    
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-50%);
        }
    }


    &__title {
        margin-bottom: 3rem;
        letter-spacing: 1.2px;
    }

    &__content {
        display: flex;
        margin-bottom: 5rem;
    }

    &__item {
        padding: 4rem 3.7rem 3.7rem 4.5rem;
        position: relative;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        border-right: 1px solid #707070;
        width: 50%;

        &:first-child {
            border-left: 1px solid #707070;
        }

    }

    &__item-sticker {
        @include text (1.6rem, 700, #030303);
        padding: 1rem 0.5rem;

        width: 16.4rem;
        height: 3.6rem;
        background: #ffffff;
        box-shadow: 1rem 2rem 7rem rgba(0, 0, 0, 0.5);

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 17rem;
        left: 0;
        z-index: 10;
    }

    &__item-img {
        width: 100%;
        height: 33rem;
        margin-bottom: 3rem;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__item-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item-title {
        @include text (2.5rem, 800, #ffffff);
        text-transform: uppercase;
        width: 90%;
        padding-right: 4rem;
        line-height: 1;
        letter-spacing: -0.5px;
    }

    &__item-link {
        width: 4rem;
        height: 0.6rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__btn {
        margin-left: auto;
        margin-right: 2rem;
    }
}
