.services-banner {
    margin-bottom: 21rem;
}


.composition {


    &__inner {}

    &__title {
        margin-bottom: 6rem;
    }

    &__wrapper-spollers {

    }

    &__spoller-item {
        position: relative;

        border-top: 0.1rem solid rgba(210, 210, 210, 1);

        &:last-child {
            border-bottom: 0.1rem solid rgba(210, 210, 210, 1);

        }
    }

    &__spoller-title-wrap {
        height: 8.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.active {
            height: 7rem;
            .composition__spoller-img {
                transform: rotate(270deg);
            }
        }
    }

    &__spoller-title {
        @include text (2.5rem, 800, rgba(50, 50, 50, 1));
        text-transform: uppercase;
    }

    &__spoller-img {
        width: 4rem;
        height: 1.5rem;
        transition: ease 0.7s;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__spoller-content {
        display: flex;
        padding-bottom: 7.6rem;
        display: none;
    }

    &__text-block {
        @include text (1.7rem, 400, rgba(128, 128, 128, 1));
        line-height: 1.35;
        width: 39%;
        margin-right: 12rem;

        li {
            padding-left: 2.5rem;
            position: relative;

            &::before {
                content: "";
                width: 0.2rem;
                height: 0.2rem;
                border-radius: 50%;
                background: rgba(128, 128, 128, 1);

                position: absolute;
                top: 1rem;
                left: 0;
            }
        }
    }

    &__img {
        width: 62.7rem;
        height: 27.5rem;
        position: absolute;
        top: 3rem;
        left: 45.5%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}




.steps.white {
    background: #ffffff;

    .steps {

        &__box {
            border: 0.1rem solid #d2d2d2;
        }

        &__box-stage {
            color: #323232;
        }

        &__box-title {
            color: #323232;
        }
    }
}


.price.white {
    background: #ffffff;
    padding-bottom: 0;

    .price {

        &__key {
            color: #323232;
        }

        &__value {
            color: #323232;

        }
    }
}


.our-services.white {

    .our-services {

        &__box {
            background: #ffffff;

            &:hover {
                background: #323232;

                .our-services__box-title {
                    color: #ffffff;
                }
            }
        }

        &__box-title {
            color: #323232;
        }



    }
}