.services-banner {
    margin-bottom: 22rem;

    &__inner {
        padding-top: 9rem;
    }
    
    &__title {
        color: rgba(50, 50, 50, 1);
        width: 100%;
        padding-bottom: 4rem;
        margin-bottom: 1.5rem;
        border-bottom: 0.1rem solid rgba(210, 210, 210, 0.7);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
    }
    
    &__about {
        width: 25%;
    }
    
    &__about-title {
        @include text (2.5rem, 800, #323232);
        margin-bottom: 2rem;
    
    }
    
    &__about-subtitle {
        @include text (2.5rem, 400, #323232);
    }
    
    &__text-block {
        @include text (1.7rem, 400, rgba(128, 128, 128, 1));
        line-height: 1.35;
        width: 50%;
        display: flex;
        justify-content: space-between;

        p {
            width: 50%;
            &:not(:last-child) {
                padding-right: 3rem;
            }
        }
    
    }
    
    &__photo {
        height: 47.8rem;

        img {
            height: 100%;
            object-fit: cover;
        }
    
    }
}



.steps {
    background: #323232;
    padding-top: 21rem;
    position: relative; 

    &::before {
        content: "";
        width: 20rem;
        height: 45.8rem;
        border-radius: 50% 0 0 50%;
        background: #FFFFFF;
        opacity: 0.2;
        filter: blur(25rem);

        position: absolute;
        top: 10rem;
        right: 0;
    }
    
    &__title-wrap {
        margin-bottom: 6.5rem;
    }
    
    &__subtitle {
        letter-spacing: 0.4px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__box {
        width: 25%;
        padding: 5rem 3rem 4.5rem 4rem;
        border: 1px solid #707070;

            margin-left: -0.1rem;

            margin-top: -0.1rem;
    }
    
    &__box-stage {
        @include text (6rem, 800, rgba(255, 255, 255, 1));
        margin-bottom: 2.5rem;
    }
    
    &__box-title {
        @include text (2.5rem, 800, rgba(255, 255, 255, 1));
        margin-bottom: 3rem;
        line-height: 1;
    }
    
    &__box-subtitle {
        @include text (1.7rem, 400, rgba(128, 128, 128, 1));
        width: 95%;
    }
    
}


.price {
    background: #323232;
    padding-top: 22rem;
    padding-bottom: 22rem;
    margin-bottom: 23rem;
    position: relative; 

    &::before {
        content: "";
        width: 45.8rem;
        height: 45.8rem;
        border-radius: 50%;
        background: #FFFFFF;
        opacity: 0.2;
        filter: blur(20rem);

        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-70%, 50%);
    }

    &__title-wrap {
        margin-bottom: 6rem;
    }

    &__subtitle {
        letter-spacing: 0.4px;
        width: 32%;
    }
    
    &__content {
        margin-bottom: 4rem;
    }
    
    &__heading-wrap {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        padding-right: 3rem;
        border-bottom: 1px solid #707070;
        margin-bottom: 3rem;
    }
    
    &__heading {
        @include text (1.7rem, 400, rgba(128, 128, 128, 1));
        text-transform: uppercase;

        &:first-child {
            width: 51%;
        }

        &:last-child {
            width: 48%;
        }
    }
    
    &__row {
        display: flex;
        align-items: center;
        padding-bottom: 2.5rem;
        padding-right: 3rem;
        border-bottom: 1px solid #707070;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    
    &__key {
        @include text (2.5rem, 400, rgba(255, 255, 255, 1));
        width: 51%;

        sup {
            font-size: 1.7rem;
        }
    }
    
    &__value {
        @include text (2.5rem, 400, rgba(255, 255, 255, 1));
        width: 48%;
    }

    &__btn {
        margin: 0 auto;
    }
}



.composition {
    margin-bottom: 22rem;

    &__title {
        margin-bottom: 6rem;
    }

    &__spoller-item {
        position: relative;

        border-top: 0.1rem solid rgba(210, 210, 210, 1);

        &:last-child {
            border-bottom: 0.1rem solid rgba(210, 210, 210, 1);
        }
    }

    &__spoller-title-wrap {
        height: 8.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &.active {
            .composition__spoller-img {
                transform: rotate(270deg);
            }
        }
    }

    &__spoller-title {
        @include text (2.5rem, 800, rgba(50, 50, 50, 1));
        text-transform: uppercase;
    }

    &__spoller-img {
        width: 4rem;
        height: 1.5rem;
        transition: ease 0.7s;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__spoller-wrap {
        display: none;
    }

    &__spoller-content {
        display: flex;
        padding-bottom: 3rem;
    }

    &__text-block {
        @include text (2rem, 400, rgba(128, 128, 128, 1));
        align-self: center;
        line-height: 1.35;
        width: 80%;
        margin-right: 12rem;

        li {
            padding-left: 2.5rem;
            position: relative;

            &::before {
                content: "";
                width: 0.4rem;
                height: 0.4rem;
                border-radius: 50%;
                background: rgba(128, 128, 128, 1);

                position: absolute;
                top: 1rem;
                left: 0;
            }
        }
    }

    &__img {
        width: 62.7rem;
        height: 27.5rem;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}


.project-typical {

    &__title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.7rem;
    }
    
    &__btn {
        margin-right: 1.5rem;
    }
    
    &__slide {
        display: flex;
        padding: 4.4rem 4.4rem 4.4rem 3.3rem;
        background: #ffffff;
        border:  0.1rem solid #D2D2D2;
        position: relative;
    }
    
    &__slide-sticker {
        width: 16.5rem;
        height: 3.6rem;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.5rem;

        box-shadow: 1rem 2rem 7rem rgba(0, 0, 0, 0.5);
    
        font-size: 1.7rem;
        font-weight: 700;
        color: #323232;

        position: absolute;
        left: 0;
        bottom: 11.4rem;
        z-index: 1;
    }
    
    &__slide-img {
        width: 72.6rem;
        height: 42.5rem;
        margin-right: 6.1rem;
        flex-shrink: 0;

        img {
            height: 100%;
            object-fit: cover;
        }

    
    }
    
    &__slide-text {
        display: flex;
        flex-direction: column;
    }
    
    &__slide-title {
        @include text (3.2rem, 800, #323232);
        margin-bottom: 3rem;
    
    }
    
    &__slide-subtitle {
        @include text (2rem, 400, #808080);
        line-height: 1.35;
        margin-bottom: 3rem;
        width: 90%;
    }
    
    &__slide-qr-code {
        width: 10.7rem;
        height: 10.7rem;
        margin-bottom: 8rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
    
    &__control {
        margin-top: auto;
    }
    
    &__slider-arrow-prev {
    
    }
    
    &__pagination {
    
    }
    
    &__slider-arrow-next {
    
    }
}


.steps.white {
    background: #ffffff;
    margin-bottom: 22rem;
    padding-top: 0;

    .steps {

        &__box {
            border: 0.1rem solid #d2d2d2;
        }

        &__box-stage {
            color: #323232;
        }

        &__box-title {
            color: #323232;
        }
    }
}


.price.white {
    background: #ffffff;
    padding-bottom: 0;
    padding-top: 0;

    .price {

        &__key {
            color: #323232;
        }

        &__value {
            color: #323232;
        }
    }
}


.our-services.white {

    .our-services {

        &__box {
            background: #ffffff;
            border: 0.1rem solid #D2D2D2;

            &:hover {
                background: #323232;

                .our-services__box-title {
                    color: #ffffff;
                }
            }
        }

        &__box-title {
            color: #323232;
        }



    }
}


.catalog.catalog--light {

    .catalog__box {
        border: 1px solid #D2D2D2;
    }

    .catalog__slide-title {
        color: #323232;
        padding-left: 0;
    }
}