.services-banner {


    
    &__inner {
        padding-top: 9rem;
    }
    
    &__title {
        color: rgba(50, 50, 50, 1);
        width: 100%;
        padding-bottom: 4rem;
        margin-bottom: 1.5rem;
        border-bottom: 0.1rem solid rgba(210, 210, 210, 0.7);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
    }
    
    &__about {
        width: 25%;
    }
    
    &__about-title {
        @include text (2.5rem, 800, #323232);
        margin-bottom: 2rem;
    
    }
    
    &__about-subtitle {
        @include text (2.5rem, 400, #323232);
    }
    
    &__text-block {
        @include text (1.7rem, 400, rgba(128, 128, 128, 1));
        line-height: 1.35;
        width: 50%;
        display: flex;
        justify-content: space-between;

        p {
            width: 50%;
            &:not(:last-child) {
                padding-right: 3rem;
            }
        }
    
    }
    
    &__photo {
        height: 47.8rem;

        img {
            height: 100%;
            object-fit: cover;
        }
    
    }
}



.steps {
    background: #323232;
    padding-top: 21rem;
    position: relative; 

    &::before {
        content: "";
        width: 20rem;
        height: 45.8rem;
        border-radius: 50% 0 0 50%;
        background: #FFFFFF;
        opacity: 0.2;
        filter: blur(25rem);

        position: absolute;
        top: 10rem;
        right: 0;
    }
    
    &__title-wrap {
        margin-bottom: 6.5rem;
    }
    
    &__subtitle {
        letter-spacing: 0.4px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__box {
        width: 25%;
        padding: 5rem 3rem 4.5rem 4rem;
        border: 1px solid #707070;

            margin-left: -0.1rem;

            margin-top: -0.1rem;
    }
    
    &__box-stage {
        @include text (6rem, 800, rgba(255, 255, 255, 1));
        margin-bottom: 2.5rem;
    }
    
    &__box-title {
        @include text (2.5rem, 800, rgba(255, 255, 255, 1));
        margin-bottom: 3rem;
        line-height: 1;
    }
    
    &__box-subtitle {
        @include text (1.7rem, 400, rgba(128, 128, 128, 1));
        width: 95%;
    }
    
}


.price {
    background: #323232;
    padding-top: 22rem;
    padding-bottom: 22rem;
    margin-bottom: 23rem;
    position: relative; 

    &::before {
        content: "";
        width: 45.8rem;
        height: 45.8rem;
        border-radius: 50%;
        background: #FFFFFF;
        opacity: 0.2;
        filter: blur(20rem);

        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-70%, 50%);
    }

    &__title-wrap {
        margin-bottom: 6rem;
    }

    &__subtitle {
        letter-spacing: 0.4px;
        width: 32%;
    }
    
    &__content {
        margin-bottom: 4rem;
    }
    
    &__heading-wrap {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        padding-right: 3rem;
        border-bottom: 1px solid #707070;
        margin-bottom: 3rem;
    }
    
    &__heading {
        @include text (1.7rem, 400, rgba(128, 128, 128, 1));
        text-transform: uppercase;

        &:first-child {
            width: 51%;
        }

        &:last-child {
            width: 48%;
        }
    }
    
    &__row {
        display: flex;
        align-items: center;
        padding-bottom: 2.5rem;
        padding-right: 3rem;
        border-bottom: 1px solid #707070;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    
    &__key {
        @include text (2.5rem, 400, rgba(255, 255, 255, 1));
        width: 51%;

        sup {
            font-size: 1.7rem;
        }
    }
    
    &__value {
        @include text (2.5rem, 400, rgba(255, 255, 255, 1));
        width: 48%;
    }

    &__btn {
        margin: 0 auto;
    }
}


.catalog.catalog--light {
    margin-bottom: 18rem;

    .catalog {

        &__box {
            border: 0.1rem solid rgba(210, 210, 210, 1);
        }

        &__box-title {
            color: rgba(50, 50, 50, 1);
        }
    }
}


.article-big.article-big--dark {
    padding: 22rem 0 0 0;
    background: #323232;
    margin-bottom: 0;
}

.our-services.our-services--dark {
    padding: 22rem 0 0rem 0;
    background: #323232;
    margin-bottom: 0;

    .our-services__btn {
        margin-right: 2rem;
    }

    .our-services__title-wrap {
        margin-bottom: 3rem;
    }
}


.feedback.dark {
    padding: 22rem 0 0 0;
    background: #323232;
}

.footer.dark {
    background: #323232;

    &::before {
        bottom: 0;
        right: auto;
        left: 0;
        transform: translate(-50%, 80%);
    }
}